ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
    float: left;
}

table {
    width: 1200px;
    margin: 0 auto;
}

table td {
    border: solid 1px #e1e6ef;
}

#header {
    height: 140px;
    align-content: center;
}

#header-image {
    width: 1200px;
    height: 140px;
}

#menubar {
    height: 50px;
}

#menubar ul li a {
    color: black;
    padding: 5px 95px 7px 95px;
    text-decoration: none;
    display: block;
}

#images {
    height: 250px;
}

#images ul li {
    margin: 0 29px;
}

#images ul li:first-child {
    margin-left: 12px;
}

#images ul li:last-child {
    margin-right: 10px;
}

#content {
    padding-top: 30px;
}

#content p{
    margin: 0 10px 20px 12px;
}

#footer {
    height: 70px;
    color: #74777c;
    text-align: center;
}